.createPasswordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 90px 0 70px;
  box-sizing: border-box;
}
  
  .createPasswordPageContainer {
    width: 100%;
    max-width: 419px;
    padding: 6px;
    margin: auto;
  }

  .passwordStrengthBar {
    height: 8px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 1px;
    margin: 8px 0;
    position: relative;
  }
  
  .passwordStrengthBar div {
    height: 100%;
    border-radius: 1px;
    transition: width 0.3s ease-in-out;
  }
  
  .strength-0 {
    width: 0%;
    background-color: red;
  }
  
  .strength-1 {
    width: 20%;
    background-color: red;
  }
  
  .strength-2 {
    width: 40%;
    background-color: orange;
  }
  
  .strength-3 {
    width: 60%;
    background-color: yellow;
  }
  
  .strength-4 {
    width: 80%;
    background-color: lightgreen;
  }
  
  .strength-5 {
    width: 100%;
    background-color: green;
  }
  
  .passwordStrengthLabel {
    text-align: right;
    font-size: 14px;
    color: #ffffff;
  }
  
  .confirmationButton {
    margin-top: 20px;
  }
  
  .backLink {
    text-align: center;
    margin-top: 20px;
  }
  
  .backLink a {
    color: #7B33E5;
    text-decoration: none;
  }
  
  .backLink a:hover {
    text-decoration: underline;
  }