.administration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.administration-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 58px;
    box-sizing: border-box;
    position: relative;
}

.administration-search-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: auto;
    background-color: #D9D9D9;
    margin-bottom: 50px;
}

.users-section {
    position: relative;
}

.users-list {
    flex: 1;
}

.users-list.with-card {
    margin-right: 420px; 
}

.users-header,
.user-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.user-row.selected {
    background-color: #414141; 
}

.user-columnindex {
    flex: 0.5; 
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.user-columncpf {
    flex: 1; 
    display: flex;
    align-items: center;
}

.user-columnnickname {
    flex: 1.5; 
    display: flex;
    align-items: center;
}

.user-columnemail {
    flex: 2.5; 
    display: flex;
    align-items: center;
}

.user-columnrole {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-columnchannel {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-columnchannel-name {
    padding: 10px 15px;
    color: #fff;
    border-radius: 100px;
}

.channel-yes .user-columnchannel-name {
    background-color: #4FBF0A; 
}

.channel-no .user-columnchannel-name {
    background-color: #DF1414; 
}

.users-header {
    background-color: transparent;
    font-weight: bold;
}

.user-row {
    cursor: pointer;
}

.user-row:hover {
    background-color: #333;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    transition: margin-right 0.3s ease-in-out;
    flex: 1; 
}

.pagination-with-card {
    margin-right: -40px !important;    
}

.pagination-controls button {
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-controls button:disabled {
    background-color: #333;
    cursor: not-allowed;
}

.pagination-controls span {
    color: #fff;
    font-size: 16px;
}

.user-card-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 70px;
    width: 390px;
    border-radius: 5px;
    box-sizing: border-box;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-card {
    width: 330px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
}

.user-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    padding-bottom: 5px;
}

.user-card p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}

.user-card-name {
    color: #9F9F9F;
    margin-right: 8px;
}

.channel-card {
    display: flex;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    width: 330px;
}

.channel-image {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    margin-right: 15px;
}

.channel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.channel-name {
    font-size: 21px;
    margin: 0;
}

.channel-biography {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #9F9F9F;
}

.user-count {
    font-size: 15px;
    color: #fff;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-left: 10px;
}


.channel-nickname-btn {
    align-items: center;
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.catalog-card {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 330px;
}

.catalog-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.catalog-card p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}

.catalog-card-label {
    color: #9F9F9F;
    margin-right: 8px;
}

.catalog-release-btn {
    align-items: center;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.catalog-release-btn.btn-deactivate {
    background-color: #DF1414; 
}

.catalog-release-btn.btn-activate {
    background-color: #4FBF0A; 
}