.fixedSlide {
  position: fixed;
  top: 119.44px; 
  left: 0;
  width: 504px;
  height: calc(100% - 119.44px); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .fixedSlideImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 100px;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .indicatorContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .indicator {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  
  .indicator.active {
    background-color: #7b33e5;
  }
  
  @media (max-width: 768px) {
    .fixed-slide {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1380px) {
    .fixed-slide {
        display: none;
    }
}