.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 20px;
    background-color: #000;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001; /* Ensure it stays above other content */
}

.mobile-header-left,
.mobile-header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-header-title {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile-header-title h1 {
    font-size: 18px;
    margin: 0;
}

.mobile-header-logo {
    width: 149px;
    height: 30px;
}

/* Estilo para centralizar o SearchLayout com espaçamento */
.search-layout-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
