.schedulingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 85px;
  box-sizing: border-box;
  }
  
  .schedulingContainer {
    width: 100%;
    max-width: 419px;
    padding: 6px;
    box-sizing: border-box;
    margin-top: auto; 
    margin-bottom: auto;
  }
  
  .scheduling {    
    width: 100%;
    max-width: 100%;
    padding: 14px;
    border-radius: 5px;
    background-color: #212121;
    color: #fff;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .schedulingPage {
      padding-top: 105px;
      padding-bottom: 85px;
    }
  }