.cartItem {
  display: flex;
  background-color: white;
  border-radius: 5px;
  color: black;
  gap: 10px;
  height: 140px;    
  border: 1px solid #ccc;
  min-width: 100%;
}

.itemImage {
  width: 140px;
  height: 100%;
  object-fit: cover;        
  object-position: center;  
  border-radius: 5px 0 0 5px;
  flex-shrink: 0;  
}

.itemContent {
  display: flex;
  justify-content: space-between;    
  align-items: center;
  width: 100%;
  gap: 50px;
  padding: 10px;
}

.itemDetails {
  display: flex;
  flex-direction: column;    
  gap: 10px;
  width: 100%;
}

.itemDetails h3 {
  font-size: 17px;
  margin: 0 auto; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.itemAttributes {
  display: flex;       
  flex-wrap: wrap; 
  gap: 4px; 
  font-size: 12px;
  margin: 0;
}

.attribute {
  white-space: nowrap;
  padding: 2px 5px;
  background-color: #eeeeee;
  border-radius: 20px;
}

.itemRemover {
  background: none;
  border: none;
  font-size: 14px;
  margin: 0;
  color: #6225BC;
  margin-left: auto;
  align-self: flex-start;
}

.itemRemover:hover {
  text-decoration: underline;
}

.quantityControls {
  display: flex;
  border: 1px solid black;
  gap: 2px;
  border-radius: 5px;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
}

.quantityControls button{
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) { 

  .cartItem {
    height: 160px;    
  }

  .itemContent {        
    gap: 10px;
  }

  .leftColumn {   
      width: 100%;
  } 

  .itemDetails h3 {
      font-size: 13px;
  }

  .itemDetails p {
      font-size: 12px;
  }

  .itemRemover {
      font-size: 12px;
  }
}