.sub-header {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.sub-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub-header-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sub-header-title {
    font-size: 18px;
    margin-bottom: 0;
}

.sub-header-buttons {
    display: flex;
    gap: 40px;
}

@media (max-width: 768px) {
    .sub-header {
        display: none;
    }
}