.password-reset-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

.password-reset-container {
    width: 100%;
    max-width: 419px;
    padding: 6px;
    box-sizing: border-box;
}

.password-reset-title {
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900; /* Roboto Black */
    text-align: center;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.reset-login-link {
    text-align: center;
    margin-top: 20px;
}

.reset-login-link a {
    color: #7B33E5;
    text-decoration: none;
}

.reset-login-link a:hover {
    text-decoration: underline;
}

.confirmationButton-space{
    margin-top: 30px;
}


.password-reset-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.password-reset-container {
    width: 100%;
    max-width: 419px;
    padding: 6px;
    box-sizing: border-box;
    margin-top: auto; 
    margin-bottom: auto; 
}

.password-reset-title {
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900; /* Roboto Black */
    text-align: center;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.reset-login-link {
    text-align: center;
    margin-top: 20px;
}

.reset-login-link a {
    color: #7B33E5;
    text-decoration: none;
}

.reset-login-link a:hover {
    text-decoration: underline;
}

.confirmationButton-space {
    margin-top: 30px;
}

.password-strength-bar {
    height: 8px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 1px;
    margin: 8px 0;
    position: relative;
    margin-top: -8px;
}

.password-strength-bar div {
    height: 100%;
    border-radius: 1px;
    transition: width 0.3s ease-in-out;
}

.strength-0 {
    width: 0%;
    background-color: red;
}

.strength-1 {
    width: 20%;
    background-color: red;
}

.strength-2 {
    width: 40%;
    background-color: orange;
}

.strength-3 {
    width: 60%;
    background-color: yellow;
}

.strength-4 {
    width: 80%;
    background-color: lightgreen;
}

.strength-5 {
    width: 100%;
    background-color: green;
}

.password-strength-label {
    text-align: right;
    font-size: 14px;
    color: #ffffff;
}
