.password-reset-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

.password-reset-container {
    width: 100%;
    max-width: 419px;
    padding: 6px;
    box-sizing: border-box;
}

.password-reset-title {
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900; /* Roboto Black */
    text-align: center;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.reset-login-link {
    text-align: center;
    margin-top: 20px;
}

.reset-login-link a {
    color: #7B33E5;
    text-decoration: none;
}

.reset-login-link a:hover {
    text-decoration: underline;
}

.confirmationButton-space{
    margin-top: 30px;
}
