.confirmation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%; /* Adiciona esta linha para ocupar 100% da largura do contêiner pai */
    padding: 0 13px;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border: none; /* Certifica-se de que não haja borda */
}

.confirmation-button-icon {
    width: 20px;
    height: 20px;
}

.confirmation-button-icon.confirmation-with-text {
    margin-right: 8px;
}

.confirmation-button:hover,
.confirmation-button:active,
.confirmation-button:focus {
    outline: none; /* Remove o outline padrão do foco */
}
