.productRatingContainer {
    color: #fff;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;    
    width: 100%;
  }
  
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;    
    width: 100%;
  }

  .starContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }

  .starContainer img {    
    width: 30px;
    height: 30px;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;
  }
  
  .ratingValue {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
  }
  
  .starRow {
    display: flex;
    align-items: center;
  }
  
  .starIcon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }
  
  .totalReviews {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 0.5rem;
  }
  
  .distributionRow {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0;
  }
  
  .distributionRow span {
    text-align: right;
    margin-right: 0.5rem;
    font-size: 12px;
  }
  
  .barContainer {
    background-color: #555;
    height: 6px;
    border-radius: 3px;
    position: relative;
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .barFill {
    background-color: #f90;
    height: 6px;
    border-radius: 3px;
  }
  
  .subRatings {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    overflow: auto;
  }
  
  .subRatingItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 120px;
  }
  
  .subRatingLabel {
    margin-top: 0.5rem;
    color: #ccc;
    font-size: 0.875rem;
  }
  

  @media (max-width: 768px) {
    .left {
      flex-direction: column;
      gap: 2px;
    }

    .starContainer {  
      align-items: center;
    }

    .starContainer img {    
      width: 20px;
      height: 20px;
    }

    .ratingValue {
      font-size: 3rem;
    }

  }