/* src/components/UI/Buttons/HeaderButtons/HeaderButtons.css */

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0 13px;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    background-color: #212121;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.button-icon.with-text {
    margin-right: 8px;
}

.custom-button:hover,
.custom-button:active,
.custom-button:focus {
    border: 1px solid #FFFFFF;
    outline: none; /* Remove o outline padrão do foco */
}

/* Esconde o texto na versão mobile */
@media (max-width: 768px) {
    .custom-button span {
        display: none;
    }
    .button-icon.with-text {
        margin-right: 0px;
}
}
