.visualization-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.visualization-container {
    width: 100%;
    padding: 0 58px;
    box-sizing: border-box;
}

.visualization-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.visualization-search-history {    
    max-height: 100%;
    overflow-y: auto;    
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.visualization-search-item {
    padding: 10px;
    color: #000000;
    background-color: #ececec;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.visualization-search-item span {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: 80%; 
}

.remove-region-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}


.visualization-map-container {   
    width: 100%;
    height: 500px;    
}

.visualization-input-group {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px 5px 0 0;
    position: relative; 
    margin-bottom: -20px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-selected {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px 5px 5px ;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    margin-left: 5px;
    color: #000;
    z-index: 1001; 
    border-radius: 5px;
}

.dropdown-container:hover .dropdown-options {
    display: block;
}

.dropdown-option {
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f1f1f1;
}

.dropdown-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.visualization-action-select {
    margin-right: 10px;
}

.visualization-search-input {
    flex: 3;
    height: 44px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: white;
    border: none;
}

.suggestions-container {
    position: absolute; 
    top: 35%; 
    left: 150px;
    width: 85%;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1001; 
    max-height: 400px; 
    overflow-y: auto;
}

.suggestion-item {
    padding: 10px;
    color: #9F9F9F;
    cursor: pointer;
}

.suggestion-item .highlight {
    color: black;
    font-weight: bold;
}

.suggestion-item:hover, 
.suggestion-item.selected {
    background-color: #7B33E5;
    color: white;
}

.visualization-map-container {
    margin-top: 20px; /* Ajuste do espaço acima do mapa */
}


@media (max-width: 768px) {
    .visualization-page {
        padding-bottom: 110px;
        padding-top: 109px;
    }

    .visualization-container {
        max-width: 419px;
        padding: 0 6px;
    }

    .suggestions-container {
        top: 27%; 
        left: 32px;
        width: 85%; 
        max-height: 400px; 
    }

    .visualization-input-group {
        display: flex;
        flex-direction: row; 
        width: 100%;
    }

    .visualization-action-select {
        margin-right: 5px; 
    }

    .visualization-search-input {
        flex: 2;
    }
}
