/* Categories.css */

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 110px;
    box-sizing: border-box;
    width: 100%;
}

.categories-list {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0 12px;
}

.draggable-item {
    user-select: none;
    touch-action: manipulation;
    margin-bottom: 5px;
}

.draggable-item.dragging {
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}
