.loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Background semitransparente */
    z-index: 1000; /* Garante que esteja acima de outros elementos */
}

.spinner {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    animation: spinner-c601d3 2.4s infinite;
}

.spinner1 {
    background-color: #7b33e5;
    animation-delay: 0s;
}

.spinner2 {
    background-color: #FF5A21;
    animation-delay: 1.2s; /* Metade do tempo da animação */
    opacity: 0; /* Inicialmente invisível */
    animation-name: spinner-c601d3, fade-in;
    animation-duration: 2.4s, 0.1s; /* Tempo da animação do spinner e tempo do fade-in */
    animation-timing-function: linear, ease-in;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: forwards;
    animation-delay: 1.2s, 1.2s; /* Atraso para a animação do spinner e atraso para o fade-in */
}

@keyframes spinner-c601d3 {
    0% {
        opacity: 0;
        transform: scale(0) translateX(-300%);
    }
    25% {
        opacity: 1;
        transform: scale(1.25) translateX(0);
    }
    50% {
        opacity: 0;
        transform: scale(0) translateX(300%);
    }
    100% {
        opacity: 0;
        transform: scale(0) translateX(-300%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
