.code-input-container {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.code-input {
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
}

.code-input:focus {
    outline: none;
    border-color: #7B33E5;
}
