.custom-input-container {
    width: 100%;
    margin: 8px 0;
}

.input-title {
    display: block;
    font-size: 15px;
    color: #ffffff;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.textarea-wrapper {
    flex-direction: column;
    align-items: flex-start;
}

.input-prefix {
    position: absolute;
    left: 14px;
    font-size: 15px;
    color: #ffffff;
    pointer-events: none;
}

.custom-input {
    width: 100%;
    height: 40px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    flex: 1;
    transition: border-color 0.3s;
}

.custom-textarea {
    height: 100px; /* Altura maior para textarea */
    resize: vertical; /* Permite redimensionamento vertical */
}

.custom-input.valid {
    border-color: green;
}

.custom-input.invalid {
    border-color: red;
}

.custom-input.read-only {
    border: 2px dotted #ffffff;
    pointer-events: none; /* Para desativar a interação do usuário */
}

.custom-input.read-only:hover {
    border: 2px dotted #ffffff; /* Garante que a borda permaneça pontilhada ao passar o mouse */
}

.visibility-icon {
    position: absolute;
    right: 14px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.input-bottom-text {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.bottom-left {
    color: #656565;
}

.bottom-right {
    color: #6225BC;
    text-decoration: none;
}

.bottom-right:hover {
    text-decoration: underline;
}

.custom-input-checkbox-container {
    position: absolute;
    right: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.custom-input-checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;  
    height: 18px; 
    accent-color: #7B33E5;
    background-color: transparent;
    appearance: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    position: relative;
}

.custom-input-checkbox-container input[type="checkbox"]:checked {
    background-color: #7B33E5;
}

.custom-input-checkbox-container input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #7B33E5;
    transform: translate(-50%, -50%);
}

.custom-input-checkbox-container label {
    font-size: 14px;
    color: #ffffff;
}
