.privacyNotice {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 17px;
}

.privacyIcon {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}

.privacyNotice span {
    font-size: 14px;
    color: #ffffff;
}

.privacyLink {
    color: #7B33E5;
    text-decoration: none;
}

.privacyLink:hover {
    text-decoration: underline;
}
