.step-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 14px;
    background-color: #212121;
    border: 5px solid #212121;
    color: #fff;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 5px;
}

.step-button-left {
    display: flex;
    align-items: center;
}

.step-button-icon-circle {
    min-width: 51px;
    height: 51px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.step-button-custom-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.step-button-icon {
    width: 24px;
    height: 24px;
}

.step-button-text h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

.step-button-text p {
    font-size: 15px;
    margin: 0;
    color: #9F9F9F;
    
}

.step-button-right {
    display: flex;
    align-items: center;
}

.step-button-verified {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.step-button-arrow {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .step-button {        
        margin-bottom: 0px;
    }
}
