.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  padding-top: 115px;
  box-sizing: border-box;
  }
  
  .category-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 58px;
    box-sizing: border-box;
    position: relative;
  }
  
  .category-search-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  
  .category-search-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #D9D9D9;
  }
  
  .add-category-btn {
    font-size: 15px;
    color: #fff;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
  }
  
  .add-category-btn:hover {
    background-color: #333;
  }
  
  .category-section {
    position: relative;
  }
  
  .category-list {
    flex: 1;
  }
  
  .category-header,
  .category-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .category-row.selected {
    background-color: #414141;
  }
  
  .category-columnindex {
    flex: 0.5;
    padding-left: 30px;
    display: flex;
    align-items: center;
  }
  
  .category-columnname {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
  
  .category-columnimage {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
  
  .category-columnsubcategories {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
  
  .category-header {
    background-color: transparent;
    font-weight: bold;
  }
  
  .category-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .category-image {
    object-fit: cover;
  }
  
  .category-form {
    width: 100%;
  }
  
  .category-title-form {
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: -5px;
  }

  .add-channel-image-upload {
    margin-bottom: 15px;
}

.image-previews-container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.infoImagens {
  font-size: 12px;
}


.createImage {
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.category-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-channel-upload-button {
    color: #7B33E5;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: transparent;
    height: 50px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
  
  .add-channel-upload-button:hover {
    text-decoration: underline;
  }

  .category-image-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .subcategory-form {
    width: 100%;
  }
  
  .subcategory-title-form {
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: -5px;
  }
  
  .subcategory-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .subcategory-item {
    background-color: #151515;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .subcategory-item:hover {
    background-color: #333333;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-controls button:disabled {
    background-color: #333;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    color: #fff;
    font-size: 16px;
  }
  




































  .association-section {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: #222;
  }
  
  .association-section h4 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .association-helper {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
  }
  
  .add-association-btn {
    background-color: #7B33E5;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .association-item {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .association-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .association-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  .remove-association-button {
    background-color: #DF1414;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .association-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* Ajuste conforme o layout desejado */
  }
  