.productPage {
    display: flex;
    gap: 20px;
    color: #fff;
    margin-top: 155px;
    width: 100%;
    padding: 0 58px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.productConteiner {
    display: flex;
    gap: 20px;
}

.productChannelImageDesc {
    width: 540px;
}

.galleryContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.thumbnailList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 470px;
    overflow-y: auto;
    width: 135px;
    overflow-x: hidden;
}

.thumbnailItem {
    cursor: pointer;
    width: 101px;
    min-width: 101px;
    max-width: 101px;
    height: 101px;    
    min-height: 101px;    
    max-height: 101px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.thumbnailItem:hover {
    opacity: 0.2;  
}

.thumbnailItem img {
    object-fit: cover;
    width: 101px;
    height: 101px;
}

.mainImage {
    width: 470px;
    height: 470px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mainImage img {
    object-fit: cover;
    width: 470px;
    height: 470px;
}

.productDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.channelHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.channelLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.channelTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channelImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.channelInfo {
    display: flex;
    flex-direction: column;
}

.channelName {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.channelNickname {
    font-size: 14px;
    margin: 0;
    color: #aaa;
}

.shortDescription {
    font-size: 14px;
    margin: 20px 0;
}

.productSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin: 0 20px;
}

.name {
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
}

.priceSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.priceSaleSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pix {
    font-size: 0.9rem;
    color: #7B33E5;
}

.originalPrice {
    font-size: 0.9rem;
    width: fit-content;
    text-decoration: line-through;
    color: #9F9F9F;
}

.salePrice {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

.salePrice sup {
    font-size: 1.2rem;
    vertical-align: top;
    margin-left: 0.2rem;
}

.otherOptions {
    font-size: 0.95rem;
}

.otherOptions a {
    margin-left: 0.3rem;
    color: #7B33E5;
    cursor: pointer;
}
.otherOptions a:hover {
    text-decoration: underline;
}

.rightColumn {
    width: 400px;
}

.infoConteiner {
    width: 100%;
}

.pickupBox {
    margin-top: -10px;
    color: #fff;
  }
  
  .pickupTitle {
    font-size: 1rem;
  }
  
  .truncated {
    display: inline-block;
    max-width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
  
  .verMais {
    color: #7B33E5;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .verMais:hover {
    text-decoration: underline;
  }
  
  .labels {
    display: flex;
    gap: 30px;
    font-size: 16px;
    color: #ccc;
    margin-bottom: 4px;
    padding: 2px 40px;
  }
  
  .pickupInfo {
    display: flex;
    gap: 30px;
    background-color: black;
    padding: 10px 40px;
    border-radius: 6px;
    font-size: 18px;
  }
  
  .price {
    font-weight: 500;
  }
  
  .availability {
    font-weight: 400;
  }

  .toCart {
    width: 500px;
    display: flex;
    gap: 20px;
  }

  .toCartButton {
    padding: 0 25px;
    border: 1px solid #212121;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
  }

  .productInfoContainer {
    display: flex;
    gap: 30px;
    margin: 20px 0 0 0;
  }
  
  .descriptionColumn,
  .detailsColumn {
    flex: 1;
    border-radius: 8px;
  }
  
  .descriptionColumn h3,
  .detailsColumn h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.1rem;
  }
  
  .detailsTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;    
    border: 2px solid #5e5e5e;
  }
  
  .detailsTable td {
    padding: 8px 25px;
    vertical-align: middle; 
  }
  
  .detailsTable tr:nth-child(odd) {
    background-color: #5e5e5e;
  }

  .ProductRatingTwo {
    display: none;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 25px;
  }
  
  .infoItem {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: white;
    font-size: 14px;
    line-height: 1.4;
    align-items: center;
  }
  
  .highlight {
    color: #7B33E5;
  }
  
  .variationsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .variationsSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  .variationGroup {
    flex: 1 1 250px;
    min-width: 200px;
  }

  .variationButtons {
    display: flex;
    flex-wrap: wrap; /* permite quebra de linha */
    gap: 0.5rem;
  }
  .variationButton {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
  }
  
  

@media (min-width: 1224px) and (max-width: 1532px) {
    .productPage {
        flex-direction: column;
    } 
    
    .name {
        font-size: 16px;
    }

    .rightColumn {
        width: 100%;
    }
    
    .deliveries {
        display: flex;
        gap: 5px;
    }

    .toCart {
        width: 400px;
      }

      .leftColumn {
        flex: none;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
      
}

@media (min-width: 980px) and (max-width: 1224px) {
    .productPage {
        flex-direction: column;
        gap: 0px;
    }
    .mainImage {
        width: 300px;
        height: 300px;
    }
    
    .mainImage img {
        width: 300px;
        height: 300px;
    }

    .thumbnailList {
        gap: 5px;
        max-height: 300px;
        width: 100px;
    }
    
    .thumbnailItem {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        height: 80px;    
        min-height: 80px;    
        max-height: 80px;
    }
    
    .thumbnailItem img {
        object-fit: cover;
        width: 80px;
        height: 80px;
    }

    .name {
        font-size: 16px;
    }

    .rightColumn {
        width: 100%;
    }
    
    .deliveries {
        display: flex;
        gap: 5px;
    }

    .toCart {
        width: 400px;
    }

    .ProductRating {
        display: none;
    }

    .ProductRatingTwo {
        display: block;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (min-width: 768px) and (max-width: 980px) {
    .productPage {
        margin-top: 155px;
        flex-direction: column;
        gap: 0px;
    }

    .productChannelImageDesc {
        width: 100%;
    }

    .rightColumn {
        width: 100%;  
    }

    .productConteiner {
        display: flex;
        flex-direction: column;
    }

    .galleryContainer {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 100%;        
    }

    .mainImage {
        width: 98%;
        height: 519px;
        overflow: hidden;
    }

    .mainImage img {
    width: 100%;
    height: 519px;
    object-fit: cover;
    }

    .thumbnailList {
        gap: 5px;
        max-height: 519px;
        width: 225px;
    }
    
    .thumbnailItem {
        width: 160px;
        min-width: 160px;
        max-width: 160px;
        height: 160px;    
        min-height: 160px;    
        max-height: 160px;
    }
    
    .thumbnailItem img {
        object-fit: cover;
        width: 160px;
        height: 160px;
    }

    .toCart {
        width: 400px;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}



@media (max-width: 768px) {
    .productPage {
        margin-top: 89px;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 90px;
        padding: 0 0;
    }

    .productChannelImageDesc {
        width: 100%;
    }

    .channelHeader {
        margin-bottom: 0px;
    }

    .channelLeft {
        padding: 20px;
        width: 100%;
        max-width: 100vw;  
    }

    .deliveries { 
        width: 100%;

    }
    .productConteiner {
        display: flex;
        flex-direction: column;
    }    

    .galleryContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    
      .mainImage {
        width: 98%;
        height: 419px;
        overflow: hidden;
      }
    
      .mainImage img {
        width: 100%;
        height: 419px;
        object-fit: cover;
      }
    
      .thumbnailList {
        width: 100%;
        max-width: 100vw;   
        overflow-x: auto;      
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        padding: 0 4px;
        box-sizing: border-box;
      }
    
      .thumbnailItem {
        flex: 0 0 auto; 
        width: 101px;
        height: 101px;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
      }
    
      .thumbnailItem img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    .shortDescription {
        display: none;
    }

    .name {
        font-size: 18px;
    }

    .infoConteiner {
        width: 100%;
        max-width: 97vw;  
        padding: 0 6px;
    }

    .rightColumn {
        width: 100%;
        max-width: 97vw;  
        padding: 0 6px;
    }

    .toCart {
        width: 100%;
        display: flex;
        gap: 10px;
      }

      .toCartButton {
        padding: 0 14px;
      }

      .productInfoContainer {
        flex-direction: column;
        gap: 10px;
      }
      
}

  