.mainheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 58px;
    background-color: #000000;
    border-bottom: 11px solid #151515;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    width: 100%; 
    box-sizing: border-box; 
    z-index: 1000; 
}

.mainheader-left {
    display: flex;
    align-items: center;
    position: relative;
}

.scan-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Certifique-se de que o botão esteja acima de outros elementos */
}

.mainlogo {
    width: 149px;
    height: 30px;
    margin-right: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #212121;
    border-radius: 100px;
    overflow: hidden;
    transition: border 0.3s ease;
    height: 44px;
}

.search-input {
    height: 44px;
    width: 228px; 
    background: #212121;
    border: none;
    color: #ffffff;
    padding: 0 0px;
    font-size: 16px;
}

.search-input::placeholder {
    color: #656565;
}

.search-input:focus {
    outline: none; 
}

.search-button {
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.mainheader-right {
    display: flex;
    align-items: center;
}

.mainheader-right > * {
    margin-left: 11px;
}

/* Estilos para tablet e mobile */
@media (max-width: 1024px) {

    .mainheader {
        padding: 32px 50px;
    }

    .search-form {
        width: 44px;
        height: 44px;
        justify-content: center;
    }

    .search-input {
        display: none;
    }

    .search-button {
        padding: 0;
    }

    .search-form:hover {
        border: 1px solid #fff;
    }
}
