.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
  max-width: 165px;
  background-color: #FFFFFF;
  border: 1px solid #9F9F9F;
  color: black;
}

.imageWrapper {
  width: 165px;
  max-height: 165px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: -10px;
  margin-bottom: 5px;
  z-index: 1;
}

.indicator {
  width: 20px;
  height: 4px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 0;
}

.indicator.active {
  background-color: #212121;
}

.imageSlider {
  display: flex;
  width: max-content;
}

.imageItem {
  flex-shrink: 0;
  width: 165px;
  height: 165px;
}

.buttonContainer {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 10;
}

.buttonItem {
  background-color: #212121;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.info {
  text-align: start;
  width: 100%;
}

.name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;  
  height: 30px;  
}

.price {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 8px 8px 0px 8px;
  display: flex;
  gap: 10px;
  border-top: 1px solid #9F9F9F;
}

.freeShipping {
  font-size: 11px;
  color: #656565;
  font-weight: 600;
  margin: 0;
  padding: 8px 0px 8px 8px;
}

@media (max-width: 768px) {
  .card {
    width: calc(51.5% - 10px);
  }

  .imageWrapper {
    width: 100%;
  }
}
