.channel-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 160px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.channel-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 58px;
    box-sizing: border-box;
    align-items: center;
}

.channel-left {
    display: flex;
    align-items: center;
}

.channel-image {
    width: 130px;
    height: 130px;
    border-radius: 43px;
    object-fit: cover;
    margin-right: 58px;
}

.channel-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.channel-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.channel-biography {
    font-size: 16px;
    margin-bottom: 20px;
}

.channel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.channel-external-link {
    font-size: 16px;
    margin-bottom: 20px;
}

.channel-link-button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.channel-link-button {
    display: flex;
    align-items: center;
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
}

.channel-link-button-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.channel-stage-buttons {
    display: flex;
    gap: 10px;
    width: 390px;
}

/* Estilos para mobile */
@media (max-width: 768px) {
    .channel-page {
        padding-bottom: 110px;
        padding-top: 120px;
    }

    .channel-container {
        flex-direction: column;
        align-items: center;
        padding: 0 6px;
    }

    .channel-left {
        flex-direction: column;
        align-items: center;
    }

    .channel-image {
        margin-right: 0px;
    }

    .channel-right {
        align-items: center;
    }

    .channel-stage-buttons {
        width: calc(100vw - 40px);
        justify-content: center;
        gap: 10px;
    }
}
