.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.profile-container {
    width: 100%;
    padding: 0 58px;
    box-sizing: border-box;
}

.profile-content {
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-title {
    font-size: 18px;
    margin-bottom: 0;
}

.profile-buttons {
    display: flex;
    gap: 40px;
}

.logout-link {
    margin-left: auto;
}

.logout-button {
    background: none;
    border: none;
    color: #7B33E5;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    text-decoration: underline;
}

.profile-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.step-card-wrapper {
    display: flex;
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
}

.step-button.data-personal {
    max-width: 398px;
}

.card-container {
    flex: 1;
    width: 100%;
}

.additional-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.additional-steps .step-button {
    flex: 1 1 calc(25% - 20px); /* Largura de 25% menos o espaço entre eles */
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

/* Estilos para mobile */
@media (max-width: 768px) {

    .profile-page {
        padding-bottom: 110px;
        padding-top: 69px;
    }

    .profile-container {
        max-width: 419px;
        padding: 0 6px;
    }

    .profile-title,
    .logout-link.desktop-only {
        display: none;
    }

    .profile-content {
        flex-direction: column-reverse; 
    }

    .profile-header {
        justify-content: center;
    }

    .profile-buttons {
        justify-content: space-around;
        width: 100%;
    }

    .profile-steps {
        justify-content: center;
    }

    .step-card-wrapper {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .step-button {
        max-width: none;
        margin-bottom: 0px;
    }

    .card-container {
        max-width: 100%;
    }

    .additional-steps {
        flex-direction: column;
        margin-top: 30px;
    }

    .additional-steps .step-button {
        max-width: 100%;
    }

    .step-button.data-personal {
        max-width: 100%;
    }

    .logout-link.mobile-only {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .profile-page {
        padding-top: 150px;
    }

    .card-container {
        max-width: 100%;
    }
    .additional-steps {
        flex-direction: column;
        margin-top: 5px;
    }

    .additional-steps .step-button {
        max-width: 100%;
    }

    .step-button.data-personal {
        max-width: 100%;
    }

    
}
